In [1]:
import pandas as pd
import csv

In [2]:
voter_data = "C:\\Users\\TITAN\\Desktop\\PythonStuff\\USCLOS201811DATA3\\03_python\\homework\\Instructions\\PyPoll\\Resources\\election_data.csv"
voter_df = pd.read_csv(voter_data, encoding="UTF-8")
voter_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [14]:
#find the candidates and see the total votes for each one
cantot = voter_df['Candidate'].value_counts().to_frame()
cantot.columns = ['Votes']

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [5]:
#total number of votes
total = voter_df['Candidate'].value_counts().sum()
total

3521001

In [82]:
winner = cantot['Votes'].argmax()
winner

C:\Users\TITAN\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

'Khan'

In [31]:
#cantot['index_col'] = cantot.index
khanvotes = cantot.iloc[0]['Votes']
correyvotes = cantot.iloc[1]['Votes']
livotes = cantot.iloc[2]['Votes']
tooleyvotes = cantot.iloc[]['Votes']

In [75]:
khanpct = (khanvotes / total) * 100
correypct = (correyvotes / total) * 100
lipct = (livotes / total) * 100
tooleypct = (tooleyvotes / total) * 100

In [83]:
print('Election Results')
print('-------------------------')
print(f'Total Votes: {total}')
print('-------------------------')
print(f'{cantot.index[0]}: {round(khanpct)}% ({khanvotes})')
print(f'{cantot.index[1]}: {round(correypct)}% ({correyvotes})')
print(f'{cantot.index[2]}: {round(lipct)}% ({livotes})')
print(f'{cantot.index[3]}: {round(tooleypct)}% ({tooleyvotes})')
print('-------------------------')
print(f' Winner: {winner} ')
print('-------------------------')

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------
 Winner: Khan
-------------------------